In [ ]:
#single word
'hello'

In [ ]:
#Entire phrase
'This is also a string'

In [ ]:
#We can also use double quote
"String"

In [ ]:
#Be careful with quote
'I'm using single quotes'

In [ ]:
"Now I'm able to use single quotes"

In [ ]:
#We can simply declare a string
'Hello World'

In [ ]:
#note that we can't output multiple string this way
'Hello World'
'Hello World 2'

In [ ]:
print 'Hello World'
print 'Hello World2'
print 'Use \n to print a new line"
print  "\n"
print "See what I mean?"

In [ ]:
 #To use print function from python 3 in python 2
from__future__import print__function

print 'Hello World'

In [ ]:
len ('Hello World')

In [ ]:
#Assign s as a string

s = 'Hello World'

In [ ]:
#Check

s

In [ ]:
#Print the object
print(s)

In [ ]:
#Show first element (in tis case a letter)
s[0]

In [ ]:
s[1]

In [ ]:
s[2]

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

In [ ]:
#Note that there is no change to the original s
s

In [ ]:
#Grab everything UP TO the 3rd index
s[:3]

In [ ]:
#Everything
s[:]

In [ ]:
#Last letter (one index behind 0 so it loops back around)
s[-1]

In [ ]:
#Grab everything but the last letter
s[:-1]

In [ ]:
#Grab everything but go in steps size of 1
s[::1]

In [ ]:
#Grab everything but go in steps size of 1
s[::2]

In [ ]:
#Grab everything but go in steps size of 1
s[::-1]

In [ ]:
s

In [ ]:
#Let's try to change the first letter to 'x'
s[0] = 'x'

In [ ]:
#Concatenate strings
s + '  concatenate string'

In [ ]:
#We can reassign s completely though
s =s + 'concatenate me'

In [ ]:
print(s)

In [ ]:
s

In [ ]:
letter = 'z'

In [ ]:
letter*10

In [ ]:
s

In [ ]:
# Upper Case a string
s.upper()

In [ ]:
# Lower Case a string
s.lower()

In [ ]:
#Split a string by blank space (this is the default)
s.split()

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split ('o')

In [ ]:
'Insert another string with curly brackets:{}'.format({'The inserted string'})

In [ ]:
print(s)
s.count('o')

In [ ]:
s.find('o')

In [ ]:
s.center(48, 'z')

In [ ]:
'hello\thi'.expandtabs()

In [ ]:
s = 'hello'

In [ ]:
s.isalnum()

In [ ]:
s.isalpha()

In [ ]:
s.islower()

In [ ]:
s.isspace()

In [ ]:
s.istitle()

In [ ]:
s.isupper()

In [ ]:
s.endswith('o')

In [ ]:
s.split('e')

In [ ]:
s.partition('e')

In [ ]:
s

In [ ]:
#Assign a list to an variable named my_list
my_list =[1, 2, 3]

In [ ]:
my_list = ['A string',23,100,232,'o']
my_list

In [ ]:
len(my_list)

In [ ]:
my_list = ['one', 'two', 'three', 4, 5]

In [ ]:
#Grab element at index 0

my_list[0]

In [ ]:
#Grab index 1 and everything past it
my_list[1:]

In [ ]:
#Grab everything UP TO index 3
my_list[:1]

In [ ]:
my_list + ['new item']

In [ ]:
my_list

In [ ]:
#Reassign
my_list = my_list + ['add item permanentl']

In [ ]:
my_list

In [ ]:
# Make the list double

my_list * 2

In [ ]:
# Again doubling not permanent
my_list

In [7]:
#Create a new list
l = [1, 2, 3]

In [8]:
#Append

l.append("append me")

In [9]:
l

[1, 2, 3, 'append me']

In [10]:
l.pop(0)

1

# l

In [11]:
l

[2, 3, 'append me']

In [12]:
new_list = ['a', 'e', 'x','b','c']

In [13]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [14]:
#Use reverse to reverse order (this is permanent)
new_list.reverse()

In [15]:
new_list

['c', 'b', 'x', 'e', 'a']

In [16]:
new_list.sort()

In [17]:
new_list

['a', 'b', 'c', 'e', 'x']

In [18]:
#Let's make three lists
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [7,8,9]

#Make a list of lists to form a matrix
matrix = [lst_1, lst_2, lst_3]

In [19]:
#Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [24]:
#Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [23]:
#Grab first item of the first item in matrix object
matrix[0][0]

1

In [25]:
#Build a list comprehension by deconstructing a loop within a []

first_col = [row[0] for row in matrix]

In [26]:
first_col

[1, 4, 7]

In [27]:
l= [1,2,3]

In [28]:
l

[1, 2, 3]

In [29]:
l.append(4)

In [30]:
l

[1, 2, 3, 4]

In [33]:
l.count(10)

0

In [34]:
l.count(2)

1

In [35]:
x= [1,2,3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

In [36]:
x= [1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

In [37]:
print(l)
l.index(2)

[1, 2, 3, 4]

1

In [38]:
l.index(12)

ValueError: 12 is not in list

In [39]:
l

[1, 2, 3, 4]

In [41]:
#Place a letter at the index 2
l.insert(2, 'inserted')

In [42]:
l

[1, 2, 'inserted', 3, 4]

In [43]:
ele = l.pop()

In [44]:
l

[1, 2, 'inserted', 3]

In [45]:
ele

4

In [46]:
l

[1, 2, 'inserted', 3]

In [47]:
l.remove('inserted')

In [48]:
l

[1, 2, 3]

In [50]:
l= [1,2,3,4,3]

In [51]:
l.remove(3)

In [52]:
l

[1, 2, 4, 3]

In [53]:
l.reverse()

In [54]:
l

[3, 4, 2, 1]

In [55]:
l.sort()

In [56]:
l

[1, 2, 3, 4]